.about-content {
  color: #ccc;
  // margin-right: 2rem;
  // margin-bottom: 3rem;

  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #fff;
  }
  .bottom-line {
    margin: 0 auto;
  }

  h3 {
    color: #fff;
    font-size: 1rem;
    margin: 2rem 0rem 0.75rem 0rem;
  }

  &-group {
    margin: 0 auto;
    @media (min-width: 767px) {
      width: 80%;
    }
    p {
      margin-bottom: 1rem;
      line-height: 1.6;
      font-size: 0.75rem;
      color: #fff;

      @media (min-width: 767px) {
        font-size: 0.9rem;
      }
    }

    .btn {
      margin-bottom: 1rem;
    }
  }

  // UFO Call to action
  .about-cta {
    position: relative;

    margin-top: 3rem;
    width: 90%;
    transform: rotate(30deg);

    animation: flying-ufo 4s ease-in-out infinite;

    &-ufo {
      width: 100%;
      height: 100%;
    }

    &-composite {
      position: absolute;
      top: 10%;
      left: 18%;

      // width: 200px;
      // height: 200px;
      width: 35%;
      height: 35%;

      transform: rotate(-25deg);
      img {
        border-radius: 50%;
      }
    }

    @keyframes flying-ufo {
      0% {
        transform: translate(15%, 0%) rotate(33deg);
      }

      50% {
        transform: translate(-5%, 10%) rotate(27deg);
      }

      100% {
        transform: translate(15%, 0%) rotate(33deg);
      }
    }
  }
}

.center.about .main__logo {
  transform: rotateX(0deg);
}
