.about-content {
  color: #ccc;
  // margin-right: 2rem;
  // margin-bottom: 3rem;

  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #fff;
  }
  .bottom-line {
    margin: 0 auto;
  }

  h3 {
    color: #fff;
    font-size: 1rem;
    margin: 3rem 0rem 0.75rem 0rem;
  }
  &-group {
    margin: 0 auto;
    @media (min-width: 767px) {
      width: 80%;
    }
    p {
      margin-bottom: 1rem;
      line-height: 1.6;
      font-size: 0.75rem;
      color: #fff;

      @media (min-width: 767px) {
        font-size: 0.9rem;
      }
    }

    .btn {
      margin-bottom: 1rem;
    }
  }
}

.center.about .main__logo {
  transform: rotateX(0deg);
}
