.aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;

  z-index: 100;

  text-align: center;

  &-container {
    .aside-logo {
      width: 70px;
      height: 70px;
      padding: 10px;
    }

    .aside-nav {
      position: relative;

      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60vh;

      margin-top: 60px;

      .aside-links {
        li {
          margin: 10px 5px;

          a {
            display: flex;
            align-items: center;
            justify-content: space-around;

            color: #ccc;
            &:hover {
              color: #fff;
            }

            p {
              font-size: 0.5rem;
              display: none;
              text-transform: uppercase;
              font-weight: 900;
            }
          }
        }
      }
    }
  }

  .copyright {
    display: none;

    position: absolute;
    bottom: 8px;

    margin: 0 auto;
    width: 100%;

    text-align: center;
    p {
      font-size: 8px;
      color: #ccc;
    }
  }

  // This section applies when the JS runs
  &.active {
    background: rgba(0, 0, 0, 0.8);
    .aside-container {
      .aside-nav {
        .aside-links {
          li {
            a {
              p {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .copyright {
      display: block;
    }
  }
}
