/* SWIPER JS CAROUSEL */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}

.swiper-wrapper {
  padding: 20px 0;
}

.swiper-slide {
  transition: 250ms all;
  filter: grayscale(100%);
  cursor: pointer;
}

.swiper-slide:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
  z-index: 1;
}

// Projects
.projects {
  margin-bottom: 2rem;
  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .project-details {
    display: none;

    background: rgba($color: #000000, $alpha: 0.7);
    padding: 1rem 0.5rem;

    #project-title {
      font-size: 1.5rem;
      font-weight: 200;
    }

    .project-container {
      text-align: center;
      margin: 2rem 0;

      .project-logo-container {
        border-radius: 50%;
      }

      .project-subheader {
      }

      p {
        line-height: 1.6;
      }
    }
  }
}
