/* SWIPER JS CAROUSEL */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}

.swiper-wrapper {
  padding: 20px 0;
}

.swiper-slide {
  transition: 250ms all;
  filter: grayscale(100%);
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }

  &:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
    z-index: 1;

    &:before {
      background: rgba($color: #000000, $alpha: 0);
    }
  }

  .swiper-slide-header {
    position: absolute;
    bottom: 10px;
    left: 10px;

    font-size: 1.2rem;
    font-weight: 900;

    color: #ddd;
  }
}

.projects {
  .section-header {
    font-size: 2rem;
    font-weight: 400;
  }

  #card {
    display: none;

    background: #121212;

    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);

    flex-direction: column;

    margin: 2rem 0;

    .btn:nth-child(odd) {
      filter: hue-rotate(200deg);
    }
    .card-image {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .card-details {
      padding: 1rem;
      text-align: left;

      .card-header {
        font-weight: 100;
        text-transform: uppercase;
        margin: 10px 0;

        font-size: 1.25rem;
      }

      .card-labels {
        display: flex;
        justify-content: space-between;
        width: 70%;

        margin: 0;
        padding: 0;

        p {
          margin: 0;
          padding: 0;

          font-size: 0.75rem;
          color: #ccc;
          font-weight: 100;
        }
      }

      .card-description {
        margin: 0;
        padding: 0;

        font-size: 0.75rem;
        color: #ccc;
        font-weight: 100;
      }

      .card-rating {
        margin: 10px 0;
        color: var(--color-primary);

        i {
          font-size: 0.75rem;
        }
      }

      .card-links {
        .btn {
          &:first-child {
            margin-right: 1rem;
          }

          &:nth-child(odd) {
            filter: hue-rotate(200deg);
          }
        }
      }
    }
  }
}

@media (min-width: 1023px) {
  .projects {
    #card {
      flex-direction: row;
      flex: 2 1;

      .card-details {
        .card-labels {
          width: 50%;
        }
      }
    }
  }

  .card .card-image {
    flex-basis: 3;
  }
}
