// Section: B Testimonials
.testimonials {
  margin-bottom: 3rem;
  .section-header {
    font-size: 2rem;
    font-weight: 400;
  }

  .testimonial {
    border-radius: 10%;

    margin-top: 2rem;

    .testimonial-top {
      padding: 3rem 3rem 3rem 3rem;

      background: rgb(23, 16, 138);
      background: linear-gradient(
        90deg,
        rgba(23, 16, 138, 1) 0%,
        rgba(0, 141, 138, 1) 100%
      );

      .testimonial-quote {
        position: relative;

        text-align: center;
        color: #aaa;

        p {
          font-size: 0.75rem;
          font-weight: 900;
          line-height: 1.6;
        }

        i {
          font-size: 1.5rem;
        }

        .fa-quote-left {
          position: absolute;
          left: -25px;
          top: -25px;
        }

        .fa-quote-right {
          position: absolute;
          right: -25px;
          bottom: -25px;
        }
      }
    }

    .testimonial-bottom {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      background: #1a1919;
      padding: 3rem 2rem 2rem 2rem;

      .testimonial-image {
        position: absolute;
        top: -25%;

        width: 80px;
        height: 80px;
        border: 5px solid #1a1919;
        border-radius: 50%;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }

      .testimonial-stars {
        color: var(--color-primary);
        margin-bottom: 1rem;
      }

      .testimonial-name {
        font-size: 1rem;
        font-weight: 900;
        color: #fff;
        margin-bottom: 0.5rem;
      }

      .testimonial-company {
        font-size: 0.6rem;
        font-weight: 400;
        color: #ccc;
      }
    }
  }
}

@media (min-width: 767px) {
  .testimonials {
    .section-header {
    }

    .testimonial-desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      .testimonial {
        .testimonial-top {
        }

        .testimonial-quote {
          p {
          }

          i {
          }

          .fa-quote-left {
          }

          .fa-quote-right {
          }
        }

        .testimonial-bottom {
          .testimonial-image {
          }

          .testimonial-stars {
          }

          .testimonial-name {
          }

          .testimonial-company {
          }
        }
      }
    }
  }
}

@media (min-width: 1023px) {
  .testimonials {
    .section-header {
    }

    .testimonial-desktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;

      .testimonial {
        .testimonial-top {
        }

        .testimonial-quote {
          p {
          }

          i {
          }

          .fa-quote-left {
          }

          .fa-quote-right {
          }
        }

        .testimonial-bottom {
          .testimonial-image {
          }

          .testimonial-stars {
          }

          .testimonial-name {
          }

          .testimonial-company {
          }
        }
      }
    }
  }
}
