// Margins
.mg-right-1 {
  margin-right: 1rem;
}
.mg-left-1 {
  margin-left: 1rem;
}

.bottom-line {
  width: 100px;
  height: 2px;
  background: rgb(247, 52, 122);
}

.text-align {
  text-align: center;
}
