* {
  /* Custimize your sign */
  --neon-size: 10vw; /*vw used for responsiveness */
  --neon-color-off: #441526;
  --neon-color-on: #f7347a;
  --neon-font: "Las Enter";

  // TEXT
  --grey-text: #ccc;
}
